* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    color: #273c27;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b461b;
    padding: 15px 30px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #2b461b;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: top 0.3s;
    }
    
nav ul li a.active {
    text-decoration: underline;
    font-weight: bold; /* Opcional para resaltar más */
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    color: #ffffff;
    margin-left: 10px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #e3e3db;
    color: #273c27;
    border-radius: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-container input {
    padding: 0px;
    border-radius: 24px;
    border: none;
    margin-right: 25px;
}

.search-container button {
    position: relative;
    right: 59px; /* Ajustar el tamaño para que quede en el campo de búsqueda */
    background: none;
    border: none;
    cursor: pointer;
}

.search-container button img {
    width: 23px;
    height: 23px;
    align-content: center;
}

.profile-icon {
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.filter-section {
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
    position: relative; /* Asegúrate de que el contenedor de filtro sea relativo */
    z-index: 10; /* Asegura que esté por encima de otros elementos */

}

.filter-section label {
    margin-right: 0px;
    
}

.filter-section select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #4b5e30;
    color: white;
    border: #3a4b1f;
    
}

.filter-section button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3a4b1f;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 90px;
}

.image-section {
    display: flex;
    justify-content: center;
    gap: 0px;
    align-items: center;
}


.map-section {
    width: 60%;
    text-align: center;
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 18px;
    border: 5px solid #2b461b; /* Borde verde */
}

.map-section .filter-section {
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}


.house-section {
    text-align: center;
}

.house-section img {
    width: 60px;
    margin: 10px;
}

.map-section p {
    font-size: 20px;
    margin: 20px 0;
}

.map-section img {
    width: 60%;
    max-width: 320px;
    margin: 20px 0;
}

.ranking-section {
    width: 30%;
    background-color: #3a4b1f;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.ranking-section h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #f6f6f6; /* Rectángulo gris */
    padding: 10px;
    border-radius: 10px;
    color: #273c27; /* Verde de la barra de navegación */
}

.ranking-section ul {
    list-style: none;
    padding-left: 0;
}

.ranking-section ul li {
    font-size: 20px;
    margin-bottom: 15px;
}


.energy-section-interactive {
    margin-top: 50px;
    text-align: center;
}

.interactive-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centra el contenedor */
    max-width: 900px; /* Define un ancho máximo */
    width: 85%; /* Permite que el contenedor se ajuste según el ancho de la pantalla */
}


.interactive-container:hover {
    transform: translateY(-5px);
}

.info {
    color: #273c27;
    font-size: 16px;
    max-width: 600px;
    line-height: 1.6;
}

.button-container button {
    padding: 10px 20px;
    background-color: #3a4b1f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #273c27;
}




/* Sección de energías renovables */
.energy-section {
    margin-top: 50px;
    text-align: center;
}

.energy-section h2 {
    color: #273c27;
    font-size: 28px;
    margin-bottom: 20px;
}

.energy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 50px;
}

.energy-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.energy-card:hover {
    transform: translateY(-5px);
}

.energy-card h3 {
    color: #3a4b1f;
    font-size: 22px;
    margin-bottom: 10px;
}

.energy-card p {
    color: #273c27;
    font-size: 16px;
    margin-bottom: 15px;
}

.energy-card ul {
    list-style: none;
    padding-left: 0;
}

.energy-card ul li {
    color: #273c27;
    font-size: 14px;
    margin-bottom: 8px;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #4b5e30;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.scroll-to-top:hover {
    background-color: #3a4b1f;
}

.arrow {
    font-size: 24px;
    color: white;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #263f18;
    color: white;
    font-size: 14px;
}

/* PAÍSES

/* Estilos globales */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.country-list a {
    background-color: #547442; /* Fondo suave, relacionado con el tema de renovables */
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.country-list a:hover {
    background-color: #4b5e30; /* Color más vibrante para el hover */
}

.country-info {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    color: #435825;
    text-align: center;
}

.info-section {
    margin: 20px 0;
    color: black;
}

.info-section h3 {
    color: #1c3f07;
}

/* Tabla de datos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #96b683;
    ;
}

/* Estilos para el formulario de filtrado */
.filter-form {
    text-align: center;
    margin-bottom: 20px;
}

.filter-form label {
    margin-right: 10px;
}

.filter-form select, .filter-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-form button {
    background-color: #2b461b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-form button:hover {
    background-color: #2b461b;
}


/* INICIO */

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px;
}

.search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#results {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main {
    padding: 20px;
}

.hero {
    background-color: #d9f9d9;
    padding: 20px;
    text-align: center;
}

.charts {
    margin: 20px 0;
}

section {
    margin: 20px 0;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.news-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.references ul {
    list-style: none;
}

.references ul li {
    margin: 5px 0;
}

